.reviews {
  &__row {
    @include flex(center, space-between);
  }
  &__title {
    @include font(24px, 500);
    color: $text-black;
  }
  &__button {
    padding: 7px 17px;
    background: #111111;
    border-radius: 5px;
    border: none;
    @include font(18px, normal);
    color: $text-light-gray;
    cursor: pointer;
    &_mobile{
      display: none;
    }
  }
}
.review {
  padding-top: 40px;
  &__row {
    display: flex;
    align-items: center;
  }
  &__item {
    padding: 10px 10px;
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 5px;
  }
  &__name {
    @include font(24px, 500);
  }
  &__date {
    margin-left: 20px;
    @include font(18px, 500);
    color: $text-gray;
  }
  &__description {
    margin-top: 20px;
    @include font(18px, normal);
    color: $text-black;
  }
}

main {
  padding: 0 10px;
  @include mobile {
    .reviews {
      &__title {
        margin: 0;
        margin: auto;
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .review {
        padding: 0;
        &__item {
          margin-bottom: 10px;
        }
      }
      &__button {
        display: none;
        &_mobile {
          display: block;
          padding: 7px 17px;
          background: #111111;
          border-radius: 5px;
          border: none;
          @include font(18px, normal);
          color: $text-light-gray;
          cursor: pointer;
          margin-top: 10px;
          margin-bottom: 5px;
          width: 100%;
        }
      }
    }
  }
}
